/* section1 */
#mainContainer {
  width: 100%;
  height: calc(100vh - 150px);
  background-color: var(--color-main);
  color: #fff;
  position: relative;
}

#mainContainer > div {
  padding-left: 14vw;
  margin: auto 0;
}

#mainPic {
  z-index: 0;
  position: absolute;
  width: 63vw;
  right: 0;
  top: 0;
}

#mainTitle1 {
  position: relative;
  z-index: 1;
  font-size: 5rem;
  font-weight: 900;
  padding-top: 1.8vw;
  padding-bottom: 2vw;
}

#mainTitle1 > span {
  display: block;
}

#subTitle {
  position: relative;
  z-index: 1;
  font-weight: 400;
  font-size: 1.5vw;
}

#searchForm {
  position: relative;
  display: flex;
  margin-top: 4vw;
  font-weight: 400;
  z-index: 5;
}

#year,
#month {
  position: relative;
  cursor: pointer;
}

#year {
  width: 100px;
  margin-right: 60px;
}

#month {
  width: 72px;
}

#dropDown {
  position: relative;
  margin-top: 0.62vw;
  width: 100%;
  height: 46px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
}

.menu {
  display: none;
  position: absolute;
  background-color: #fff;
  z-index: 1;
  left: 0;
  top: 46px;
  font-size: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0 0 0 1px var(--color-card-border) inset;
}

.menuYear {
  width: 300%;
}

.menuMonth {
  width: 500%;
}

.menu > div {
  color: var(--color-main);
  display: flex;
}

.menu > div > span {
  text-align: center;
  flex: 1;
  padding: 15px 0;
  border-right: 1px solid var(--color-card-border);
}

.menu > div > span:hover {
  font-weight: 900;
}

.menu > div > span:last-child {
  border-right: none;
}

.menu > div:first-child {
  border-top: none;
  border-bottom: 1px solid var(--color-card-border);
}

#month:hover .menu,
#year:hover .menu {
  display: block;
}

.line {
  width: 100%;
  background-color: var(--color-point);
  height: 10px;
}

.day {
  position: absolute;
  bottom: 0;
  height: 3px;
}

.dateAlert {
  margin-left: 3%;
  position: relative;
}

.infoIcon {
  color: var(--color-card-border);
  position: absolute;
  bottom: 0;
  cursor: pointer;
  display: block;
}

.infoIcon:hover::after {
  content: "2015년부터 2020년까지 검색 가능합니다";
  font-family: "Noto Sans KR", sans-serif;
  font-size: 1rem;
  background-color: #fff;
  position: absolute;
  top: -50px;
  left: 0;
  padding: 10px 15px;
  color: var(--color-main);
  border-radius: 10px;
}

.searchButton {
  background-color: var(--color-main);
  padding: 5px 20px;
  border: 1px solid var(--color-card-border);
  border-radius: 10px;
  color: #fff;
  margin-top: 2vw;
  font-family: "Noto Sans KR", sans-serif;
  cursor: pointer;
}

.boldLine {
  height: 20px;
}

.lineSpace {
  margin-top: 13vw;
}

/* section2 */
#foodContainer {
  padding: 80px 14vw 10vw 14vw;
}

#mainTitle {
  font-weight: 500;
  font-size: 30px;
  margin-bottom: 80px;
}

.title {
  margin-top: 16px;
  width: 94px;
}

.basic {
  margin: auto;
  margin-bottom: 14px;
  width: 70px;
  height: 6px;
}

#foodSubContainer {
  display: flex;
  justify-content: space-between;
}

#foodSubTitle {
  font-weight: 700;
  font-size: 20px;
}

#food,
#foodRecipe {
  text-align: center;
}

#foods {
  display: flex;
  margin: 40px auto;
  justify-content: center;
  align-items: center;
}

.cursor-point {
  cursor: pointer;
}

#foodPic {
  width: 16vw;
  height: 16vw;
  margin: 0 50px;
  border-radius: 50%;
  background-color: rgb(230, 230, 230);
  border: 5px var(--color-main) solid;
  overflow: hidden;
}

#cards {
  margin: 40px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40vw;
}

#card {
  width: 30%;
  height: 16vw;
  border-radius: 20px;
  border: 1px solid var(--color-card-border);
  box-shadow: 2px 4px 10px var(--color-card-border);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}

#recipePic {
  margin: 7% 0;
  width: 86%;
  height: 70%;
  border-radius: 20px;
  background-color: rgb(230, 230, 230);
}

#recipeTitle {
  width: 86%;
  margin: auto;
}

/* section3 */
#recipeContainer {
  padding: 0 14vw;
}

#recipeSubContainer {
  display: flex;
  font-size: 16px;
  line-height: 150%;
}

#recipePics {
  width: 40vw;
  height: 25vw;
  margin-bottom: 80px;
  position: relative;
  overflow: hidden;
}

#mainRecipePic {
  width: 100%;
  height: 80%;
}

#subRecipePic {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 13%;
  white-space: nowrap;
  overflow: auto;
  overflow-y: hidden;
}

#subRecipePic::-webkit-scrollbar {
  display: none;
}

#subRecipePic > div {
  height: 100%;
  background-color: rgb(220, 220, 220);
  width: 15%;
  display: inline-block;
  margin-right: 2%;
  border-radius: 10px;
}

#recipes {
  margin-left: 100px;
}

.lineFood {
  margin-top: 10px;
  margin-bottom: 30px;
  width: 70px;
  height: 6px;
}

.lineWidth {
  width: 100px;
}

.lineWidth1 {
  width: 170px;
}

#stuff {
  margin-bottom: 6.2vw;
}

#nutrientTable {
  width: 80%;
  text-align: center;
  border-collapse: collapse;
  border-radius: 10px;
  border-style: hidden;
  box-shadow: 0 0 0 1px var(--color-table-border);
}

tbody > tr {
  border-top: 1px solid var(--color-table-border);
}

th,
td {
  padding-top: 3%;
  padding-bottom: 3%;
  border-right: 1px solid var(--color-table-border);
}
