#header,
#footer {
  height: 150px;
  background-color: var(--color-main);
  padding: 0 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo_area {
  width: 88px;
  height: 88px;
}

#profilePage_area {
  width: 180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
}

#profilePage_area > li,
#profilePage_area > li > a {
  width: 36px;
  text-align: center;
  text-decoration: none;
  color: #fff;
}

#profileLink {
  margin-top: 8px;
  display: inline-block;
}

#profilePage_area > li > a > img,
.material-symbols-outlined {
  width: 24px;
}

#footer {
  height: 170px;
  margin-top: 200px;
  color: #fff;
  font-size: 14px;
  line-height: 150%;
}

#profile_area > p {
  font-size: 13px;
  margin-bottom: 10px;
}

pre {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
}
